/* Importar fonte Druk Wide Bold */
@font-face {
  font-family: "Druk Wide Bold Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Druk Wide Bold Bold"),
    url("../assets/fonts/DrukWideBold.woff") format("woff");
}